@import "./variables";

* {
    margin: 0;
    padding: 0;
    font-family: $overpass;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100lvh;
    background: $very-dark-blue;
    padding-inline: 2rem;
}

.container {
    padding: 1.4em 2rem;
    background: $dark-blue;
    border-radius: 1rem;
    color: $light-grey;
    max-width: 22rem;

    h5 {
        color: $white;
        margin: .8em auto;
    }
    .section {
        img {
            background: hsla(217, 12%, 44%, 0.1);
            padding: 1rem;
            border-radius: 100%;
            margin-bottom: .25rem;
        }
       
    }


    .btn {
        background: $orange;
        border-radius: 10px;
        width: 100%;
        color: $very-dark-blue;
        font-weight: bold;
        letter-spacing: .05em;
        font-weight: $overpass;
        border-radius: 30px;
        padding: 10px;
        transition: .3s ease-in;
        margin-bottom: 10px;

        &:hover {
            background: $white;
            transition: .3s ease-in;
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2em auto;
        
        li {
            background: hsl(212, 9%, 33%);
            padding: .8em 1.2em;
            list-style: none;
            border-radius: 100%;
            font-weight: bold;
            transition: .3s ease-in-out;
            
            &:hover {
                background: $orange;
                color: $very-dark-blue;
                transition: .3s ease-in-out;
                cursor: pointer;
            }
        }
        
    }

    .thanks {
        text-align: center;

        img {
            margin-top: 2rem;
        }
        
        aside {
            padding: 7px;
            color: $orange;
            background: hsla(220, 6%, 10%, 0.1);
            border-radius: 40px;
            margin: 30px auto;
            max-width: 13rem;

        }
    }

}
