@import "./_variables.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $jakarta;
}

body {
	@include responsive("desktop") {
		background: $slate-100;
	}
}

.container {
	padding-inline: 1.4rem;
	gap: 20px;

	.wrapper {
		.calculator {
			width: 100%;
			background: $white;

			.header {
				h5 {
					margin: 0.5rem 0;
				}
			}

			.label {
				margin: 10px 0;
				color: $slate-700;
			}

			ul {
				margin-top: 20px;
				h6 {
					font-size: 16px;
					color: $slate-700;
				}
				li {
					list-style: none;
					display: flex;
					align-items: center;
					gap: 10px;
					border: 2px solid $slate-300;
					padding: 0.8rem;
					border-radius: 3px;
					margin: 10px 0;

					input {
						width: 15px;
						height: 15px;
					}

					&:has(input:checked) {
						border-color: $lime;
						accent-color: $lime;
						outline: none;
					}
				}
			}

			.btn-container {
				width: 100%;
				.btn {
					background: $lime;
					box-shadow: none;
					text-transform: capitalize;
					color: $slate-900;
					font-weight: 600;
					border-radius: 2em;
					margin-top: 10px;
					padding: 10px;
				}
			}
		}
	}

	.result {
		background: $slate-900;
		width: 100lvw;
		margin-left: -1.5rem;
		margin-top: 20px;
		text-align: center;
		padding-block: 3em;

		.empty {
			color: $white;

			h5 {
				margin: 10px 0;
				font-weight: bold;
			}

			p {
				opacity: 0.6;
			}
		}
	}

	a {
		color: $slate-700;
	}

	@include responsive("desktop") {
		margin-left: 10em;
		padding: 2em;
		width: 80%;
		margin-top: 3em;

		.calculator {
			border: 1px solid $white;
			padding: 10px 30px;
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
			padding-right: 5em;
			width: 120%;

			.btn-container {
				margin: 15px 0;
				width: 60%;
			}
		}

		.result {
			width: 100%;
			margin-left: -3em;
			margin-top: 0;
			border: 2px solid $slate-900;
			height: 78lvh;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 4em;

			.empty {
				margin-top: 4em;
				width: 75%;
				margin-inline: auto;
			}
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 0px;
		}
	}

	@include responsive("tablet") {
		.header {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
		}

		.stack {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 20px;
		}
	}
}
